.wrapper {
    width: 100%;
    background-color: var(--color-dark-grey);
    padding: 20px 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 24px;
}

.btn {
    width: 100%;
    outline: none;
    background-color: var(--color-neon-green);
    color: var(--color-dark-grey);
    height: 65px;
    border: 2px solid var(--color-neon-green);
    cursor: pointer;
    text-transform: uppercase;
    font-family: inherit;
    font-size: inherit;
    margin-top: 32px;
    font-weight: bold;
}

.btn_disabled {
    width: 100%;
    outline: none;
    background-color: var(--color-neon-green);
    color: var(--color-dark-grey);
    height: 65px;
    border: 2px solid var(--color-neon-green);
    text-transform: uppercase;
    font-family: inherit;
    font-size: inherit;
    margin-top: 32px;
    font-weight: bold;
    cursor: not-allowed;
}

@media(max-width:390px) {
    .wrapper {
       
        padding: 20px 10px;
        
    }
}